* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Light", 'Helvetica', sans-serif;
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.App {
    display: flex;
    justify-content: center;
}

.App-header {
    background-color: #9ca9c5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 100%;
}

.card {
    padding: 18px;
}